<nav class="navbar navbar-color">
  <a class="navbar-brand">Pelada</a>
  <a class="btn btn-success text-center my-2 my-sm-0" href="/login">Login</a>
    {{!-- <a class="btn btn-light my-2 my-sm-0" type="submit">Login</a> --}}
  </form>
</nav>