<div class="sec-profile">
<div class="form-group">
<form action="/creategame" method="POST">
  <label for="groupName">Group Name</label>
  <input class="form-control" type="text" name="groupName" >
</div>
<div class="form-group">
  <label for="number-of-players">Number of players</label>
  <input type="number" min="1" max="30" name="numberOfPlayers" value="1" required>
  </div>
<div class="form-group">
  <label for="day-of-match">Select a day</label>
  <input class="form-control" type="date" name="dayOfPlay">
  </div>
<div class="form-group">
  <label for="time">Time</label>
  <select name="time">
    <option value="13:00 - 14:30">13:00 - 14:30</option>
    <option value="14:30 - 16:00">14:30 - 16:00</option>
    <option value="16:00 - 17:30">16:00 - 17:30</option>
    <option value="17:30 - 19:00">17:30 - 19:00</option>
    <option value="19:00 - 20:30">19:00 - 20:30</option>
    <option value="20:30 - 22:00">20:30 - 22:00</option>
    <option value="22:00 - 23:30">22:00 - 23:30</option>
    <option value="23:30 - 01:00">23:30 - 01:00</option>
  </select>
</div>
    <button class="btn btn-success">Create Game</button>
</form>
</div>