<h2>This is games page</h2>
 <div class="game-page-buttons">
        <form action="" class="games-page-create-button">
            <button>Create Group</button>
        </form>
           <form action="" class="games-page-join-button">
            <button>Join Group</button>
        </form>
    </div>

    <div class="google-map games-page-map" id="map"></div>
    <script>
         function initMap() {
            window.onload = function () {
                var startPos;
                var geoSuccess = function (position) {
                    startPos = position;
                    document.getElementById('startLat').innerHTML = startPos.coords.latitude;
                    document.getElementById('startLng').innerHTML = startPos.coords.longitude;
                };
                navigator.geolocation.getCurrentPosition(geoSuccess);
            };
            const ironhackBCN = {
                lat: 41.3977381,
                lng: 2.190471916
            };
            const map = new google.maps.Map(
                document.getElementById('map'),
                {
                    zoom: 5,
                    center: ironhackBCN
                }
            );
        }
        initMap();
    </script>
</div>