<section class="description">
    <p>Looking for places or players to play football with?</p>
    <p>This is the best plataform to create or join a team of players.</p>
</section>
<div class="div-map" id="map"></div>
    <script>
        function initMap() {
            {{!-- window.onload = function () {
                var startPos;
                var geoSuccess = function (position) {
                    startPos = position;
                    document.getElementById('startLat').innerHTML = startPos.coords.latitude;
                    document.getElementById('startLon').innerHTML = startPos.coords.longitude;
                };
                navigator.geolocation.getCurrentPosition(geoSuccess);
            }; --}}
            const ironhackBCN = {
                lat: 41.3977381,
                lng: 2.190471916
            };
            const map = new google.maps.Map(
                document.getElementById('map'),
                {
                    zoom: 5,
                    center: ironhackBCN
                }
            );
        }
        initMap();
    </script>
</section>
<section>
    <a class="btn btn-success text-center" href="/authentication">Join</a>
    <a class="btn btn-success text-center" href="/authentication">Create</a>
</section>