<section class="description">
    <p>Looking for places or players to play football with?</p>
    <p>This is the best plataform to create or join a team of players.</p>
</section>
<script>
    var map, infoWindow;
    let markersArray = [];
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 38.6992185, lng: -9.2001777 },
            zoom: 11
        });
        addMarker({ lat: 38.6992185, lng: -9.2001777 }, "green");
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                addMarker({ lat: position.coords.latitude, lng: position.coords.longitude }, "yellow");
                infoWindow.setPosition(pos);
                infoWindow.setContent('Location found.');
                infoWindow.open(map);
                map.setCenter(pos);
            }, function () {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
    }
    function addMarker(latLng, color) {
        let url = "http://maps.google.com/mapfiles/ms/icons/";
        url += color + "-dot.png";

        let marker = new google.maps.Marker({
            map: map,
            position: latLng,
            title: 'Hello World!',
            icon: {
                url: url
            }
        });

        //store the marker object drawn in global array
        markersArray.push(marker);
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
    }
</script>
</section>
<section>
    <a class="btn btn-success text-center" href="/authentication">Join</a>
    <a class="btn btn-success text-center" href="/authentication">Create</a>
</section>