<div class="background-image">
<section class="description">
    <p class="welcome-page">Looking for places or players to play football with?</p>
    <p>This is the best plataform to create or join a team of players.</p>
</section>
<section>
    <a class="btn btn-success text-center btn-welcome" href="/authentication">Click to <strong>Join</strong></a>
    <a class="btn btn-success text-center btn-welcome" href="/authentication">Click to <strong>Create</strong></a>
</section>
</div>