<h2>Login page</h2>
<form action="/login" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" id="login-username" placeholder="Username">
    <label for="password">Password</label>
    <input type="password" id="login-password" name="password" placeholder="Password">
    <button>Log in</button>
</form>