<h2>Login page</h2>
<form action="/login" method="POST">
    <label for="login-username">Username</label>
    <input type="text" name="username" id="login-username">
    <label for="login-password">Password</label>
    <input type="password" id="login-password" name="password">
    <button><a href="./user">Log in</a></button>
</form>