<h2>Sign-up Page</h2>
<form action="/signup" method="POST">
    <label for="firstname">First name</label>
    <input type="text" id="firstname" name="firstname" placeholder="Name">

    <label for="firstname"> Surname</label>
    <input type="text" id="surname" name="surname" placeholder="Surname">

    <label for="signup-username">Username</label>
    <input type="text" name="username" id="signup-username" placeholder="Username">

    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Email">

    <label for="password">Password</label>
    <input type="password" name="password" id="passoword" placeholder="Password">
    <button>Sign Up</button>
</form>