<form action="/profile/photoUpload/{{user._id}}" method="POST" enctype="multipart/form-data">
    <label class="custom-file">
    
</label>
<input type="file" id="file"  name="photo">
    <button class="btn btn-success custom-file-control">Upload</button>
</form>
