$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$link-color: #00b7ff;

body {
  margin: 0;
  font-family: $font-sans;
  color: black;
}

.description {
  color: black;
  font-size: 28px;
  margin-top: 120px;
  font-style: italic;
}

a {
  color: black;
}

.navbar-color {
  background-color: green;//rgba($color: black, $alpha: 0.2);
  color: white;
}

section {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.footer-color {
  background-color: green;
  margin-top: 30px;
}

.button-align {
  padding-left: 570px;
  padding-top: 20px;
  margin-bottom: 30px;
  color: white;
}

.button-align1 {
  padding-left: 530px;
  padding-top: 20px;
  margin-bottom: 30px;
  color: white;
}

.map-welcome-page {
  height: 330px;
  width: 60%;
  margin-left: 220px;
  border: 2px solid green;
}

.form-signs {
  margin-left: 50%;
  margin-top: 30px;
}

.margin-bot {
  margin-bottom: 30px
}

.games-page-map {
  width: 400px;
  height: 400px;
  border: 2px solid green;
  margin: 20px;
}

.game-page-buttons {
  display: flex;
  margin-bottom: 70px;
}

.auth-h2 {
  padding-left: 50px;
  margin-top: 250px;
}

.sec-profile {
  margin-left: 50px;
  margin-right: 100px;
  margin-top: 50px;
}

.create-button {
  margin-left: 300px;
}

.fields-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px 0;
}

.p-2 {
  margin-right: 40px;
}

//hello!