$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$link-color: #00b7ff;

body {
  margin: 0;
  font-family: $font-sans;
  color: black;
}

.description {
  color: white;
}

a {
  color: black;
}

.navbar-color {
  background-color: green;
}

section {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: black;
  text-align: center;
}

.footer-color {
  background-color: green;
}

.button-align {
  padding-left: 570px;
  padding-top: 20px;
  color: white;
  margin-bottom: 350px;
}

.button-align1 {
  padding-left: 530px;
  padding-top: 20px;
  color: white;
  margin-bottom: 350px;
}

#map {
  height: 400px;
  width: 60%;
  margin-left: 220px;
  border: 2px solid green;
}

.div-map {
  background-color: black;
}